body{
    background-image:url('/static/images/S__10485778.jpg');
    background-position:center;
    background-size:cover;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main-container{
    flex: 1;
    position: relative;
}
.my-footer{
    height: 5em;
    background-color: #163b65 ;
    margin-top: 1.5em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.room-image{
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.swal2-actions {
    z-index: 0;
}

.datepicker {
    z-index: 10000;
}

.form-login {
    background-color: rgba(0,0,0,0.55);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    color:white;
    box-shadow:0 1px 0 #cfcfcf;
}
.form-control{
    background:transparent!important;
    color:white!important;
    font-size: 18px!important;
}
h1{
    color:white!important;
}
h4 {
    border:0 solid #fff;
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold;
}


