{{template "base" .}}

{{define "content"}}

    <div class="container">


        <div class="row">
            <div class="col">
                {{$res := index .Data "reservation"}}
                <h1>Make reservation</h1>

                <p><strong>Reservation Details</strong><br>
                    Room: {{$res.Room.RoomName}}<br>
                    Arrival: {{index .StringMap "start_date"}}<br>
                    Departure: {{index .StringMap "end_date"}}
                </p>


                <form action="/make-reservation" method="post" action="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
                    <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
                    <input type="hidden" name="room_id" value="{{$res.RoomID}}">
                    <div class="form-group mt-3">
                        <label for="first_name">First Name</label>
                        {{with .Form.Errors.Get "first_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input id="first_name" name="first_name" type="text"
                               class="form-control {{with .Form.Errors.Get "first_name" }} is-invalid {{end}}"
                               autocomplete="off" value="{{$res.FirstName}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name">Last Name:</label>
                        {{with .Form.Errors.Get "last_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input id="last_name" name="last_name" type="text"
                               class="form-control {{with .Form.Errors.Get "last_name" }} is-invalid {{end}}"
                               autocomplete="off" value="{{$res.LastName}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email:</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input id="email" name="email" type="text"
                               class="form-control {{with .Form.Errors.Get "email" }} is-invalid {{end}}"
                               value="{{$res.Email}}"
                               autocomplete="off" required>
                    </div>

                    <div class="mb-3">
                        <label for="phone">Phone number:</label>
                        {{with .Form.Errors.Get "phone"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input id="phone" name="phone" type="text"
                               class="form-control {{with .Form.Errors.Get "phone" }} is-invalid {{end}}"
                               value="{{$res.Phone}}"
                               autocomplete="off" required>
                    </div>
                    <hr>
                    <input type="submit" class="btn btn-primary" value="Make Reservation">
                </form>
                <br/>
            </div>
        </div>


    </div>

{{end}}